body {
    background-color: black;
    text-align: center;
}

h1 {
    color: white;
    font-family: 'Shadows Into Light', Arial, sans-serif;
    font-size: 3.5rem;
}

.square {
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    display: inline-block;
}

.o {
    position: relative;
}

.o:after{
    position: absolute;
    content: "\274C";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x {
    position: relative;
}

.x:after{
    position: absolute;
    content: "\2B55";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.result {
    color: white;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1rem;

    display: inline-block;

    margin-top: 1rem;
    padding: 1rem;
    
}